extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Percy Chung

        p Full Stack JavaScript Developer


        .about-bio

          p I am a Web Developer who is always eager to learn and solve problems. While I may not have an extremely comprehensive breadth of technologies or skills at my disposal, I am always looking to learn and be taught. I started my journey of learning how to code almost two months ago, and am now deeply enjoying every moment I get to learn more and apply what I have learned to create something. I look forward to continuing to create and develop with others in the future as well.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 909-438-6942
          li heeyupchung@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/hee-yup-chung-a24783224/') LinkedIn
        a.btn-link(href='https://github.com/heeyupchung') GitHub
        a.btn-link(href='https://www.facebook.com/heeyupchung') Facebook

    nav.nav
      a(href='/')
        span &larr;
        |  Back