extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This portfolio is made to showcase the different landing pages and web applications I have made.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`${project.live_link}` target= "_blank")
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5 #{project.project_name}
